/* index page */

@media screen and (min-width: 300px) and (max-width: 800px) {
    #box_container {
      box-shadow: 8px 0px 8px 0px gray;
      margin-bottom: 4%;
      width: 100%;
    }
    #new_task {
      display: none;
    }
    #plus {
      margin: 0 10vw 0 42vw;
    }
    .flex_container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      flex-wrap: wrap;
      gap: 80px 0px;
      width: 58vw;
      margin: 2vh 5vw 5vh 3vh;
    }
    .item {
      width: 300px;
      height: 350px;
    }
    
    /* index2 */
  
    .add_new_task {
      height: 46vh;
      width: 80vw;
      position: absolute;
      top: 30vh;
      left: 5vw;
      right: 5vw;
      margin: 0 auto;
    }
    .add_new_task p {
      font-size: 4vh;
      margin: 2vh 0 2vh 2vw;
    }
    .prev_pg_btn {
      position: absolute;
      top: 2vh;
      right: 8vw;
    }
    input[type="text"] {
      height: 5vh;
      width: 70vw;
      margin: 30px 30px 30px 20px;
    }
    .submit_task_btn {
      height: 6vh;
      width: 20vw;
      background-color: skyblue;
      color: white;
      font-size: 2.2vh;
      font-weight: bold;
      border-radius: 8px;
      margin: 6vh 2vw 0vh 55vw;
      cursor: pointer;
    }
  
    /* index3 */
    .main_container {
      position: relative;
    }
    #backicon {
      margin: 0 1% 0 3%;
      font-size: 4vh;
    }
    #plus3 {
      width: 5vw;
      height: 5vh;
      font-size: 4vh;
      margin: 0 1% 0 18vw;
      position: absolute;
      left: 25%;
    }
    #new_task3 {
      display: none;
    }
    #paris3 {
      width: 60vw;
      height: 40vh;
      position: absolute;
      top: 25%;
      left: 15%;
      margin: 2% auto 0 auto;
    }
  }
  
  
/*media query for min-width:801 and max-width:1200px*/

@media screen and (min-width: 801px) and (max-width: 1200px)
{
   #box_container {
     box-shadow: 8px 0px 8px 0px gray;
     margin-bottom: 4%;
     width: 100%;
   }
   
   #plus {
     margin: 0 0 0 40vw;
   }
   .flex_container {
     display: flex;
     flex-direction: column;
     justify-content: start;
     flex-wrap: wrap;
     gap: 70px 0px;
     width: 60vw;
     margin: 2vh 0 2vh 25vw;
   }
   .item {
     width: 250px;

     height: 350px;
   }
  /* index2 */ 

   .add_new_task {
    height: 46vh;
    width: 80vw;
    position: absolute;
    top: 30vh;
    left: 5vw;
    right: 5vw;
    margin: 0 auto;
    box-shadow: 3px 3px 4px solid gray;
  }
  .add_new_task p {
    font-size: 4vh;
    margin: 2vh 0 2vh 2vw;
  }
  .prev_pg_btn {
    font-size: 4vh;
    position: absolute;
    top: 2vh;
    right: 8vw;
  }
  input[type="text"] {
    height: 6vh;
    width: 70vw;
    font-size: large;
    margin: 30px 30px 30px 20px;
    border: 2px lightslategray;
  }
  .submit_task_btn {
    height: 6vh;
    width: 20vw;
    background-color: skyblue;
    color: white;
    font-size: 2.2vh;
    font-weight: bold;
    border-radius: 8px;
    margin: 10vh 2vw 0vh 55vw;
    cursor: pointer;
  }
  /* index3 */
  
  #paris3 {
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 25%;
    left: 22%;
    margin: 2% auto 0 auto;
  }
  
  #new_task3 {
    display: none;
  }
  .page3{
    font-size: 34px;
  }
  
  .decoration3 {
   /* text-decoration: line-through;
    color: rgb(201, 201, 201);*/
    font-weight: normal;
    font-size: 30px;
    /*  line-height: 40px;*/
  }
  .square3 {
    font-weight: normal;
    color: rgb(103, 103, 103);
    font-family: serif;
    font-size: 30px;
    
    text-decoration: none;
  }

  /*page4*/
  
}
